.box1 {
    height: 100px;
    width: 100px;
    background-color: blue
}

.container {
    background-color: lightgray
}

.box2 {
    height: 100px;
    width: 100px;
    background-color: yellow
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: green
}

